@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "500";
}

<section class="section text-shadows" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">
                <h1 class="title">500</h1>
                <h3 class="subtitle">Ein Fehler ist aufgetreten.</h3>
            </div>
        </div>

    </div>
</section>