@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<section class="section text-shadows" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">

                <h1 class="title">307.ch</h1>
                <h3 class="subtitle">Free URL shortening service</h3>

                <form role="form" action="" method="POST">
                    <div class="input-group">
                        <input type="hidden" name="url" value="" />
                        <input type="text" name="link" class="form-control" placeholder="Paste link here">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-link"></span></button>
                        </span>
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>