@using UrlShorteningService.Controllers
@model ResultDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Resultat";
}

<section class="section text-shadows" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">
                <h1 class="title">Resultat</h1>
                <h3 class="subtitle">Zeige Url und Barcode (später auch statistik).</h3>

                <p>
                    ID: @Model.Id <br/>
                    Link: @Model.Link
                </p>
                <img src="@Model.Qr" />
            </div>
        </div>

    </div>
</section>