@using UrlShorteningService.Controllers
@model ResultController.ResultDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Resultat";
}

<section class="section text-shadows" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">
                <h1 class="title">Resultat</h1>
                <h3 class="subtitle">
                    <a href="/@Model.Id">@Model.Url</a>
                    <br/>
                    AdminCode: @Model.AdminCode
                    <br/>
                </h3>
                <p>
                    <img src="@Model.Qr" />
                </p>
            </div>
        </div>

    </div>
</section>